.nav-logo{
    width: 30%;
}

@media only screen and (max-width: 768px) {
    .nav-logo {
      width: 100%;
    }
  }

@media only screen and (min-width: 768px) {
    .nav-logo {
      width: 100%;
    }
  }  

@media only screen and (min-width: 992px) {
    .nav-logo {
      width: 40%;
    }
  }    

.image{
    width: 80%;
}

.title{
    font-size: 1.5rem;
    font-weight: 700;
}

.price{
    font-size: 1rem;
    font-weight: 700;
}

.btn-success{
    width: 30%;
    border-radius: 15px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: ease 0.3s;

}

@media only screen and (min-width: 768px) {
  .btn-success {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
    .btn-success {
      width: 50%;
      font-size: 1rem;
    }

  }

.btn-success:hover{
    box-shadow: 5px 5px 0px 2px  #333333;
    transition: ease 0.3s;
}

.border{
    border: 1px solid  #333333 !important;
}

.shadow-animation{
    transition: ease 0.3s;

}

.shadow-animation:hover{
    box-shadow: 5px 5px 0px 2px #333333;
    transition: ease 0.3s;
}

.user{
    color: #333333;
}

.footer-links{
  list-style: none;
}

