<div class="container">
    <div class="row">
        <div class="col-3" *ngFor="let product of productsAPI">

            <a [routerLink] = "['/example', product.id,product.title]">
            
            <div class="productCard p-3 border rounded-3">
                <h3 class="title">{{product.title}}</h3>
                <p class="description">{{product.description}}</p>
                <p class="price">{{product.price}}</p>    
            </div>

            </a>
        </div>

    </div>
</div>