.wrap{
    height: 100vh;
}

.banner{
    width: 40%;
}

.btn-success{
    width: 15%;
    border-radius: 15px;
    background-color: white;
    border: 1px solid black;
    color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: ease 0.3s;
}

.btn-success:hover{
    box-shadow: 5px 5px 0px 2px  #333333;
    transition: ease 0.3s;
}

@media only screen and (max-width: 768px) {
    .btn-success {
      width: 40%;
    }

    .banner{
        width: 80%;
    }
  }

.background{
    background-image: url(/assets/doodle.gif);
    background-position: center;
    background-size: 10%;
}